*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    width: 1600px;
    height: 800px;
    padding: 151px 0px 152px 0px;
    justify-content: center;
    align-items: center;
    background: var(--Light-Grey, #D5E1EF);

}

.back {
    
    width: 320px;
    height: 497px;
    border-radius: 20px;
    background: var(--White, #FFF);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    padding: 15px 10px 15px 15px;
    
}



.img2 {
    display: flex;
    width: 288px;
    height: 288px;
    background-color:#2C7DFA;
    flex-shrink: 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.paragraph {
    width: 280px;
    color:  var(--Dark-Navy, #1F314F);
    text-align: center;
    font-feature-settings: "liga"off  "clig" off;
    font-size: 22px;
    font-family: outfit;
    font-weight: 700;
    margin-top: 25px;
    
    }

    .paragraph2 {
        color: var(--grey, #7d889e);
        text-align: center;
        font-feature-settings: "liga"off  "clig" off;
        font-family: outfit;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: o,188px;
        margin-top: 25px;
    }